* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cells {
    width: 150px;
    height: 150px;
    background-color: rgb(196, 191, 191);
    border: 3px solid black;
    cursor: pointer;
    font-size: 6rem;
    text-align: center;
    padding-top: 18px;
}

#b1 {
    grid-area: h1;
}
#b2 {
    grid-area: h2;
}
#b3 {
    grid-area: h3;
}
#b4 {
    grid-area: h4;
}
#b5 {
    grid-area: h5;
}
#b6 {
    grid-area: h6;
}
#b7 {
    grid-area: h7;
}
#b8 {
    grid-area: h8;
}
#b9 {
    grid-area: h9;
}


.oi {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "h1 h2 h3" "h4 h5 h6" "h7 h8 h9";
    background-color: blue;
    width: 450px;
    margin: 0 auto;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}